<div id="vinjett1">
  <div class="lines">
    <div class="line line-1 lightPurple">
      <div class="circle"></div>
    </div>
    <div class="line line-2 lightBlue">
      <div class="circle"></div>
    </div>
    <div class="line line-3 lightPurple">
      <div class="circle"></div>
    </div>
    <div class="line line-4 orange">
      <div class="circle"></div>
    </div>
    <div class="line line-5 lightPurple">
      <div class="circle"></div>
    </div>
    <div class="line line-6 lightBlue">
      <div class="circle"></div>
    </div>
    <div class="line line-7 lightPurple">
      <div class="circle"></div>
    </div>
    <div class="line line-8 lightBlue">
      <div class="circle"></div>
    </div>
    <div class="line line-9 lightPurple">
      <div class="circle"></div>
    </div>
    <div class="line line-10 orange">
      <div class="circle"></div>
    </div>
    <div class="line line-11 lightPurple">
      <div class="circle"></div>
    </div>
    <div class="line line-12 lightBlue">
      <div class="circle"></div>
    </div>
    <div class="line line-13 lightPurple">
      <div class="circle"></div>
    </div>
  </div>
  <div class="title">
    <div class="title-wrap animated slideInRightTitle">
      <h1>Världen<br>förändras. Snabbt.</h1>
      <p>
        Acandos arbete handlar därför mer än någonsin om<br>
        att göra det enklare för våra kunder att förändras.
      </p>
    </div>
  </div>
</div>

<div id="vinjett2" class="active">
  <div class="lines">
    <div class="line line-1 animated slideInDown">
      <div class="horizontal-line animated slideInRightVinjett2">
        <div class="circle"></div>
      </div>
    </div>
    <div class="line line-2 animated slideInDown">
      <div class="horizontal-line animated slideInRightVinjett2">
        <div class="circle"></div>
      </div>
    </div>
    <div class="line line-3 animated slideInDown">
      <div class="horizontal-line animated slideInRightVinjett2">
        <div class="circle"></div>
      </div>
    </div>
    <div class="line line-4 animated slideInDown">
      <div class="horizontal-line animated slideInRightVinjett2">
        <div class="circle"></div>
      </div>
    </div>
    <div class="line line-5 animated slideInDown">
      <div class="horizontal-line animated slideInRightVinjett2">
        <div class="circle"></div>
      </div>
    </div>
    <div class="line line-6 animated slideInDown">
      <div class="horizontal-line animated slideInRightVinjett2">
        <div class="circle"></div>
      </div>
    </div>
    <div class="line line-7 animated slideInDown">
      <div class="horizontal-line animated slideInRightVinjett2">
        <div class="circle"></div>
      </div>
    </div>


  </div>
  <div class="title">
    <div class="title-wrap animated slideInRightTitle">
      <h1>Tjänster för<br>förändring.</h1>
      <p>
        Acandos mål är att skapa en bestående förmåga hos våra<br>
        kunder att hantera en föränderlig värld med tjänster inom<br>
        strategi, management och teknologi.
      </p>
    </div>
  </div>
</div>
<div id="vinjett3"></div>
<div id="vinjett4"></div>
<div id="vinjett5"></div>
<div id="vinjett6">
  <div class="lines animated slideInUp">
    <div class="line line-1">
      <div class="circle"></div>
    </div>
    <div class="line line-2">
      <div class="circle"></div>
    </div>
    <div class="line line-3">
      <div class="circle"></div>
    </div>
    <div class="line line-4">
      <div class="circle"></div>
    </div>
    <div class="line line-5">
      <div class="circle"></div>
    </div>
    <div class="line line-6">
      <div class="circle"></div>
    </div>
    <div class="line line-7">
      <div class="circle"></div>
    </div>
    <div class="line line-8">
      <div class="circle"></div>
    </div>
    <div class="line line-9">
      <div class="circle"></div>
    </div>
  </div>
  <div class="title">
    <div class="title-wrap animated slideInRightTitle">
      <h1>Utgå från<br>att förenkla<br>köpprocessen.</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras posuere ex aliquet pharetra aliquet. Nam leo nisl, volutpat id arcu ut, cursus interdum tortor. Phasellus at elit eu metus lobortis dignissim. Nulla facilisi. Nulla convallis ullamcorper lacus. Nam dictum malesuada quam eget sollicitudin. Morbi mi enim, elementum sit amet augue vel, tincidunt aliquam nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed eget iaculis quam. Donec vitae condimentum magna. Nulla at dapibus dui, at cursus elit. Aenean porta dui molestie mauris dictum aliquam.
      </p>
    </div>
  </div>
</div>
