.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  animation-duration: .75s;
}



@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  animation-name: slideInLeft;
  animation-delay: .5s;
}


@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  animation-name: slideInRight;
  animation-delay: .5s;
}


@keyframes slideInRightTitle {
  from {
    transform: translate3d(100%, -50%, 0);
    opacity: 0;
    visibility: visible;
  }

  to {
    opacity: 1;
    transform: translate3d(0, -50%, 0);
  }
}

.slideInRightTitle {
  animation-name: slideInRightTitle;
  animation-delay: .5s;
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  animation-name: slideInDown;
  animation-delay: .5s;
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  animation-name: slideInUp;
  animation-delay: .5s;
}

@keyframes slideInRightVinjett2 {
  from {
    opacity: 0;
    width: 0;
  }

  to {
    opacity: 1;
  }
}

.slideInRightVinjett2 {
  animation-name: slideInRightVinjett2;
  animation-delay: 1.3s;
}

@keyframes slideInRightVinjett4 {
  from {
    opacity: 0;
    transform: scaleX(-1) rotate(25deg) translate(-100%, 0);
  }

  to {
    transform: scaleX(-1) rotate(25deg) translate(-30%, 0);
    opacity: 1;
  }
}

.slideInRightVinjett4 {
  animation-name: slideInRightVinjett4;
  animation-delay: .5s;
}
