$lineWidth: 20px;
$lineSpacing: 25px;
$vinjett2LineHeight: 185px;
$vinjett2LineIncrement: 40px;

#vinjett1 > .line{
  height: $lineWidth;
  border-radius: 0 $lineWidth $lineWidth 0;
  margin-bottom: $lineSpacing;
  &:last-child{
    margin-bottom: 0;
  }
}
.circle{
  background: #fff;
  width: $lineWidth;
  height: $lineWidth;
  border-radius: $lineWidth;
  float: right;
}

#vinjett2{
  .line{
    width: $lineWidth;
    @for $i from 1 to 7 {
      // do stuff
      $startWidth: 145px;
      &.line-$(i){
        height: calc($vinjett2LineHeight + 40*calc($(i)-1));
      }
    }
    &.line-1{
      & .horizontal-line{
        width: 580px;
      }
    }
    &.line-2{
      & .horizontal-line{
        width: 600px;
      }
    }
    &.line-3{
      & .horizontal-line{
        width: 430px;
      }
    }
    &.line-4{
      & .horizontal-line{
        width: 500px;
      }
    }
    &.line-5{
      & .horizontal-line{
        width: 390px;
      }
    }
    &.line-6{
      & .horizontal-line{
        width: 220px;
      }
    }
    &.line-7{
      & .horizontal-line{
        width: 400px;
      }
    }
    background: #fff;
    float: left;
    position: relative;
    /*background: #fff;*/
    border-radius: 0 0 $lineWidth $lineWidth;
    margin-right: $lineSpacing;
    &:last-child{
      margin-right: 0;
    }
    .horizontal-line{
      background: $orange;
      border-radius: $lineWidth;
      position: absolute;
      z-index: 2;
      height: $lineWidth;
      bottom: 0;
      width: 400px;
      .circle{
        background: $grayscale1;
        position: absolute;
        right: 0;
        bottom: 0;
        /*width: 400px;*/
      }
    }
  }
}
