$lineWidth: 25px;
$lineSpacing: 20px;

.line{
  height: $lineWidth;
  border-radius: 0 $lineWidth $lineWidth 0;
  margin-bottom: $lineSpacing;
}
.circle{
  background: #fff;
  width: $lineWidth;
  height: $lineWidth;
  border-radius: $lineWidth;
  float: right;
}
