/*styles.css*/
@import '../../node_modules/normalize.css/normalize.css';

@import 'lost.css';
@import 'animations.css';
@import 'variables.css';
@import 'header.css';
@import 'lines.css';

* {
  box-sizing: border-box;
}
body{
  background: #fff;
  font-size: 14px;
}

.container{
  width: 1280px;
  margin: 0 auto;
}
